# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/OCR/.vs
/OCR/bin/Debug
/OCR/obj/Debug
/OCR/OCR-API/bin
/OCR/OCR-API/obj/Debug
/OCR/OCR-API/OCR-API.csproj.user
/OCR/packages
/OCR/TestResults
/OCR/WatcherCmd/bin/Debug
/OCR/WatcherCmd/obj/Debug
/OCR-Web/bin
/OCR-Web/obj/Debug
/OCRDataLayer/bin/Debug
/OCRDataLayer/obj/Debug
/OCRTests/bin/Debug
/OCRTests/obj/Debug
/RestAPI/bin
/RestAPI/obj/Debug
/RestAPI
/OCR/OCR-API/IMGs
/OCR/OCR-API/STORAGE
/OCR/.~lock.Funcional.doc#
/OCR/bin/Release
/OCR/obj/Release
/OCR/OCR-API/obj/Release
/OCR/WatcherCmd/bin/Release
/OCR/WatcherCmd/obj/Release
/OCR-Web/obj/Release
/OCRTests/obj/Release
/OCR/WatcherCmd/WatcherCmd.csproj.user
/OCR/WatcherCmd/WatcherCmd_TemporaryKey.pfx
