<!DOCTYPE html>
<html>
<head>

    <link type="text/css" rel="stylesheet" href="./css/3rdParty/jquery-ui.min.css" />
    <link type="text/css" rel="stylesheet" href="./css/3rdParty/jquery.datatables.min.css" />
    <link type="text/css" rel="stylesheet" href="./css/3rdParty/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="./css/3rdParty/prettify.min.css" />

    <script type="text/javascript" src="./scripts/3rdParty/jquery-2.2.2.min.js"></script>
    <script type="text/javascript" src="./scripts/3rdParty/jquery-ui-1.11.4.min.js"></script>
    <script type="text/javascript" src="./scripts/3rdParty/jsgrid.min.js"></script>
    <script type="text/javascript" src="./scripts/3rdParty/jquery.dataTables.min.js"></script>

    <title>OCR WEB</title>
	<meta charset="utf-8" />
</head>
<body>

    <div class="container" style="margin-top:50px">

        <div class="ui-widget">
            <label for="healthCareId">ID seguridad social: </label>
            <input id="healthCareId">
            <button id="searchForIdButton" class="ui-button-icon-only">Search</button>
        </div>

        <div class="row form-inline the-box" style="width:80%; padding-top:15px; margin-left: 8px; margin-right: 8px;">
            <div id="divGrid" class="col-sm-12" style="padding:30px,0,0,0">
                <table id="jsGrid" class="dataTable table table-hover table-bordered table-responsive display pretty" cellspacing="0" style="text-align:center">
                    <thead>
                        <tr>
                            <th>Period Start</th>
                            <th>Period End</th>
                            <th>Money Contributor</th>
                            <th>High Res File Id</th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>

    </div>

    <script>
        var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["APIBaseUrl"]';
        var table;
        $(document).ready(function () {

            var url = apiUrl + "/ContributionPeriods/1";

            //var test = $.ajax({
            //    type: "GET",
            //    contentType: "application/json; charset=utf-8",
            //    beforeSend: function (xhr) {
            //        xhr.setRequestHeader("Authorization", "Basic YWRtaW46UDNDNG5TMGZ0");
               
            //    },
            //    url: url,
            //    data: "{}",
            //    dataType: "json"
            //});

            var url = apiUrl + "/ContributionPeriods/1";
            table = $('#jsGrid').DataTable({
                "ajax": {
                    "url": url,
                    "dataType": 'json',
                    "type": "GET",
                    "headers": { "Authorization": "Basic YWRtaW46UDNDNG5TMGZ0" }
                },
                "columns": [
                    { "data": "PeriodStart" },
                    { "data": "PeriodEnd" },
                    { "data": "MoneyContribution" },
                    { "data": "HighResFileId" },
                ],
                "columnDefs": [
                    { "targets": 0, "title": "Period Start", "render": function (data) { return (!data) ? "" : data.split('T')[0]; } },
                    { "targets": 1, "title": "Period End", "render": function (data) { return (!data) ? "" : data.split('T')[0]; } },
                    { "targets": 2, "title": "Money Contribution", "render": function (data) { return (!data) ? "" : data; } },
                    { "targets": 3, "title": "HighRes FileId", "render": function (data) {
                        return (!data) ? "" : '<img src="' + '.\\STORAGE\\' + data + '"/>';
                        }
                    }
                ]
            });
        });

        $("#searchForIdButton").button().click(function (event) {


            table.destroy();

            event.preventDefault();
            var healthCareId = $("#healthCareId").val().replace(/\s/g, "%20");
            if (healthCareId === '')
                return;

            var url = apiUrl + "/ContributionPeriods/" + healthCareId;

            $.ajax({
                url: url,
                type: 'GET',
                crossDomain: true,
                dataType: 'json',
                success: function (response) {

                    //var trHTML = {};
                    //$.each(response, function (i, item) {
                    //    trHTML = item;
                    //});
                    // And then: https://www.datatables.net/examples/data_sources/js_array.html

                    table = $('#jsGrid').DataTable({
                        "data": response,
                        "columns": [
                            { "data": "PeriodStart", "class": "text-center" },
                            { "data": "PeriodEnd", "class": "text-center" },
                            { "data": "MoneyContribution", "class": "text-center" },
                            { "data": "HighResFileId", "class": "text-center" },
                            ],
                        "columnDefs": [
                            { "targets": 0, "title": "Period Start", "render": function (data) { return (!data) ? "" : data.split('T')[0]; } },
                            { "targets": 1, "title": "Period End", "render": function (data) { return (!data) ? "" : data.split('T')[0]; } },
                            { "targets": 2, "title": "Money Contribution", "render": function (data) { return (!data) ? "" : data; } },
                            {
                                "targets": 3, "title": "HighRes FileId", "render": function (data) {
                                    return (!data) ? "" : '<img src="' + '.\\STORAGE\\' + data + '"/>';
                                }
                            }
                        ]
                    });
                },
                error: function () { alert('Failed!'); },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "Basic YWRtaW46UDNDNG5TMGZ0");
                }
            });

            
            //table = $('#jsGrid').DataTable({
            //    "ajax": {
            //        "url": url,
            //        "dataType": 'json',
            //        "type": "GET",
            //        "crossDomain": true,
            //        "headers": { "Authorization": "Basic YWRtaW46UDNDNG5TMGZ0" }
            //    },
            //    "columns": [
            //        { "data": "PeriodStart", "class": "text-center" },
            //        { "data": "PeriodEnd", "class": "text-center" },
            //        { "data": "MoneyContribution", "class": "text-center" },
            //        { "data": "HighResFileId", "class": "text-center" },
            //    ],
            //    "columnDefs": [
            //        { "targets": 0, "title": "Period Start", "render": function (data) { return (!data) ? "" : data.split('T')[0]; } },
            //        { "targets": 1, "title": "Period End", "render": function (data) { return (!data) ? "" : data.split('T')[0]; } },
            //        { "targets": 2, "title": "Money Contribution", "render": function (data) { return (!data) ? "" : data; } },
            //        {
            //            "targets": 3, "title": "HighRes FileId", "render": function (data) {
            //                return (!data) ? "" : '<img src="' + '.\\STORAGE\\' + data + '"/>';
            //            }
            //        }
            //    ]
            //});
            
            $('#jsGrid tbody').on('click', 'td', function () {
                debugger;
                var colIdx = table
                        .cell(this)
                        .index().column;

                if (colIdx == 3) {
                    alert('grrr me tocaste!!');
                }
            });


        });
    </script>

</body>

</html>
