<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <log4net>
    <appender name="File" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Nueva carpeta\OCR\LOGS\WatcherCmd_LOADER\WatcherCmdLoader.txt" />
      <appendToFile value="true" />
      <maximumFileSize value="2MB" />
      <maxSizeRollBackups value="7" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="All" />
      <appender-ref ref="File" />
    </root>
  </log4net>
  <appSettings>
    <add key="CronExpression" value="NOW" />
    <!-->add key="CronExpression" value="0 08 22 1/1 * ? *" /-->
    <add key="PlantsSeparator" value=";" />
    <add key="DataVariable" value="E" />
    <add key="NumberOfHoursToProcess" value="100" />
    <add key="FilenamePattern" value="^.+\.(xls)$" />
    <add key="FtpUsername" value="edp" />
    <add key="FtpPassword" value="3fad3dp.2015" />
    <add key="FtpRemotePath" value="/" />
    <add key="isNetProductionFile" value="HV" />
    <add key="DirectoryPathToWatch" value="C:\edp\input\" />
    <add key="ProcessedFilesPath" value="\processed\" />
    <add key="DirectoryPathForMeasures" value="metering" />
    <add key="ProcessedFileTextToAppend" value=".OK" />
    <add key="ForecastGenerationDirectory" value="generation_forecast" />
    <add key="WebApiPlantBaseUri" value="http://192.168.150.233:4011/api/plant/" />
    <add key="WebApiMeasurePutUri" value="http://192.168.150.233:4011/api/measure" />
    <add key="WebApiPlantPowerUri" value="http://192.168.150.233:4011/api/plantpower" />
    <add key="WebApiUri" value="http://192.168.150.233:4011" />
    <add key="MeteologicaID" value="METEOLOGICA" />
    <add key="EDPItalyToGnarumOffsetHours" value="-1" />
    <add key="MeasureValueMultiplier" value="1" />
    <add key="MeasureSource" value="CLIENTE1H" />
    <add key="Resolution" value="1H" />
    <add key="BanziConversionFactor" value="60000" />
    <add key="EDPItalyPoc" value="Villa Castelli;Pietragalla;San Giovanni;Parco La Roca;Banzi" />
    <add key="EDPItalyPocUF" value="VCEDP01;PIEDP01;SGEDP01;ROEDP01;BAEDP01" />
    <add key="ProcessMeasuresFilesPath" value="D:\WISEv3\APPS\MODULES\SERVICES\EDPItalyMeasuresLoader\ProcessMeasuresFiles\ProcessMeasureFilesList.txt" />
  </appSettings>
  <connectionStrings>
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'" />
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>